<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1033353210793-7nr999o6c3n1fbtd2ek7as52lv1rbpvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1033353210793-7nr999o6c3n1fbtd2ek7as52lv1rbpvp</string>
	<key>API_KEY</key>
	<string>AIzaSyCEIWbniylnnnxsbBtuWRkD5FCU9LUxInE</string>
	<key>GCM_SENDER_ID</key>
	<string>1033353210793</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.main</string>
	<key>PROJECT_ID</key>
	<string>insta-5fc40</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-5fc40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1033353210793:ios:460d30e3dcdec3386eb2b8</string>
</dict>
</plist>